<ul class="list-group">
    {%if bar == "dashbord"%}
    <a class="list-group-item active" href="{%url 'dashbord'%}"> Dashboard </a>   
    {%else%} 
    <a class="list-group-item" href="{%url 'dashbord'%}"> Dashboard </a> 
    {%endif%}





    {%if bar == "order"%}
    <a class="list-group-item active" href="{%url 'order'%}">My Order </a>  
    {%else%} 
    <a class="list-group-item" href="{%url 'order'%}">My Order </a>  
    {%endif%}


    {%if bar == "changepassword"%}
    <a class="list-group-item active" href="{%url 'changepassword'%}">Change Password </a>
    {%else%} 
    <a class="list-group-item" href="{%url 'changepassword'%}">Change Password </a> 
    {%endif%}
</ul>